.button {
    width: 9em;
    padding: 1em 0;
    border-radius: 0;
    order: 2;
    cursor: pointer;
}

.button--login{
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--azul);
    color: var(--azul);
    background-color: var(--blanco);
}

.button--login:hover {
    background-color: var(--azul);
    color: var(--blanco);
}

.button--enviar,
.button--banner {
    background-color: var(--azul);
    color: #FFFFFF;
    border: 1px solid var(--azul);
    margin-top: 1rem;
    padding: 1.2rem 0;
    font-weight: bold;
}

.button--enviar:hover {
    background-color: var(--blanco);
    border-color: var(--azul);
    color: var(--azul);
    border-color: 1px solid var(--blanco);;
}

.button--agregar-producto,
.button--volver {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    border: 1px solid var(--azul);
    color: var(--azul);
    background-color: var(--blanco);
}

.button--agregar-producto:hover,
.button--volver:hover {
    background-color: var(--azul);
    color: var(--blanco);
}

@media screen and (min-width: 768px){
    .button {
        order: 3;
    }

    .button--login {
        width: 12em;
    }
}

@media screen and (min-width: 1024px){
    .button--login {
        width: 13em;
    }
}