.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .form {
        width: 63%;
    }
}

@media screen and (min-width: 1024px) {
    .form {
        width: 40%;
    }
}
