.form--login__enviar, .form--agregar-producto__enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 4em;
    margin-bottom: 1.5em;
    background-color: var(--azul);
    border: 1px solid var(--azul);
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;
}

.form--login__enviar:hover {
    background-color: var(--blanco);    
    border: 1px solid var(--azul);
    color: var(--azul);
}

.form--agregar-producto__enviar:hover {
    background-color: var(--blanco);    
    border: 1px solid var(--azul);
    color: var(--azul);
}

@media screen and (min-width: 1024px) {
    .form--login__enviar {
        width: 100%;
    }
    .form--agregar-producto__enviar {
        width: 100%;
    }
}