* {
    box-sizing: border-box;
}

:root {
    font-size: 12px;
    font-family: var(--fuente-base);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    padding: 0 calc(1rem - 1%);
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

footer {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}