.row {
    display: flex;
    flex-wrap: wrap;
}

/*
12col --> 100%
xcol  -->

*/

.col-1 {
   width: 8.333333333%; 
   margin: 1% 1%;
}

.col-2 {
    width: 16.666666667%; 
    margin: 1% 1%;
 }

 .col-3 {
    width: 25%; 
    margin: 1% 1%;
 }

 .col-4 {
    width: 33.333333333%; 
    margin: 1% 1%;
 }

 .col-5 {
    width: 41.666666667%; 
    margin: 1% 1%;
 }

 .col-6 {
    width: 48%; 
    margin: 1% 1%;
 }

 .col-7 {
    width: 58.333333333%; 
    margin: 1% 1%;
 }

 .col-8 {
    width: 66.666666667%; 
    margin: 1% 1%;
 }

 .col-9 {
    width: 75%;
    margin: 1% 1%; 
 }

 .col-10 {
    width: 83.333333333%; 
    margin: 1% 1%;
 }

 .col-11 {
    width: 91.666666667%; 
    margin: 1% 1%;
 }

 .col-12 {
    width: 100%; 
    margin: 1% 1%;
 }

 @media screen and (min-width:768px){
   .col-sm-1 {
      width: 8.333333333%; 
      margin: 1% 1%;
   }
   
   .col-sm-2 {
       width: 16.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-3 {
       width: 25%; 
       margin: 1% 1%;
    }
   
    .col-sm-4 {
       width: 33.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-5 {
       width: 41.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-6 {
       width: 48%; 
       margin: 1% 1%;
    }
   
    .col-sm-7 {
       width: 58.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-8 {
       width: 66.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-9 {
       width: 75%;
       margin: 1% 1%; 
    }
   
    .col-sm-10 {
       width: 83.333333333%; 
       margin: 1% 1%;
    }
   
    .col-sm-11 {
       width: 91.666666667%; 
       margin: 1% 1%;
    }
   
    .col-sm-12 {
       width: 100%; 
       margin: 1% 1%;
    }
 }